.clock-face {
  background: white;
  width: 300px;
  height: 300px;
  margin: 5% auto 0;
  border-radius: 50%;
  border: 15px solid #171923;
  position: relative;
  box-shadow: 0 2vw 4vw -1vw rgba(0, 0, 0, 0.8);
  box-sizing: content-box;
}

.hands-dot {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background: #e53e3e;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  position: absolute;
  z-index: 10;
  border: 4px solid #171923;
}

.hand-button {
  position: absolute;
  z-index: 5;
  width: 40px;
  height: 180px;
  background: inherit;
  top: 0px;
  left: 50%;
  margin-left: -20px;
  transform-origin: 50% 150px;
  cursor: pointer;
  box-sizing: content-box;
}

.hour-hand {
  position: absolute;
  z-index: 5;
  width: 5px;
  height: 100px;
  background: #171923;
  left: 18px;
  margin-top: -10px;
  cursor: pointer;
}

.hand-ball {
  position: absolute;
  z-index: 5;
  width: 30px;
  height: 30px;
  background: yellow;
  left: -18px;
  top: -20px;
  border-radius: 50%;
  border: 5px solid #171923;
  box-sizing: content-box;
}

.hour-hand .hand-ball {
  background: #38a169;
}

.minute-hand {
  position: absolute;
  z-index: 4;
  width: 5px;
  height: 140px;
  background: #171923;
  left: 18px;
  margin-top: -45px;
  cursor: pointer;
}

.hand-helper-line {
  position: absolute;
  width: 0px;
  height: 100%;
  top: 0px;
  border: 0.5px dashed #171923;
}

.seconds-hand {
  position: absolute;
  z-index: 7;
  width: 2px;
  height: 140px;
  background: #3182ce;
  top: 35px;
  left: 50%;
  transform-origin: 50% 115px;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  transition: transform 0.2s cubic-bezier(0.4, 2.08, 0.55, 0.44);
}

.hour {
  display: inline-block;
  position: absolute;
  color: #171923;
  font-size: 22px;
  font-weight: bold;
  z-index: 4;
  -webkit-user-select: none;
}

.h12 {
  top: 30px;
  left: 50%;
  margin-left: -9px;
}
.h3 {
  top: 140px;
  right: 30px;
}
.h6 {
  bottom: 30px;
  left: 50%;
  margin-left: -5px;
}
.h9 {
  left: 32px;
  top: 140px;
}
