.overlay {
  position: fixed;
  width: 100%;
  min-height: 100%;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  background: radial-gradient(
    ellipse at bottom left,
    #cacaca 0%,
    #ffffff 50%,
    #cacaca 100%
  );
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.overlay-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.overlay-content button {
  margin: 1em;
}

.slide-in-top {
  animation: slide-in-top 0.25s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@keyframes slide-in-top {
  0% {
    transform: translateY(-200%);
  }
  100% {
    transform: translateY(0);
  }
}
